* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}
.odd {
    background-color: rgb(223, 223, 223);
    border:4px dotted rgb(255, 255, 255) ;
}
.even{
    background-color: rgb(255, 255, 255);
}
.pictures img {
    height: 300px;
    width: auto;
}
h2{
    font-size:  70px; ;
    font-family:"Codystar";
}
img {
    max-height: 500px;
    width: auto;
}

.container {
    background: #8ac0ff;
    border: 5px dashed palegreen;
}
.container li a{
    text-align: center;
    font-family: cursive;
    font-size: 15px;
  
  }
  
  nav{
    text-align: center;
    display: inline;
    width:100%;
  }
  
  nav a{
    width:20%;
    text-decoration: none;
    color: black;
  }
  
  nav ul{
    width:100%;
  }
  
  nav ul li{
    text-align: center;
    display: inline-block; 
    padding:10px;
    font-size:14px; 
    font-family:georgia;
  }
  
  nav ul li a:hover{
    color:rgb(255, 0, 119);
  
  }